<section class="custom-sliding-section">
    <div id="section-id-{{ section.id }}" class="hc-index-slider scroll">  
      <div class="hc-slide-track">
          {% for block in section.blocks %}
            <div class="hc-slide">
              <div class="text-wrapper">
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.99 20.16"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M32.89,16.28A11.72,11.72,0,0,0,26.33,13a.33.33,0,0,0-.37.28.32.32,0,0,0,.27.37,11,11,0,0,1,6,2.86,11.27,11.27,0,0,1-15,.29,11.92,11.92,0,0,0,11-11.75.35.35,0,0,0-.1-.24.32.32,0,0,0-.23-.09h0A11.59,11.59,0,0,0,21.07,7a.32.32,0,1,0,.38.52,11,11,0,0,1,6.13-2.1,11.26,11.26,0,0,1-10.4,10.77A11.87,11.87,0,0,0,16.7.09a.34.34,0,0,0-.46,0A11.71,11.71,0,0,0,13,6.66a.33.33,0,1,0,.65.09,11.11,11.11,0,0,1,2.86-6,11.22,11.22,0,0,1,.22,14.92,11.85,11.85,0,0,0-11.61-11,.38.38,0,0,0-.24.09.36.36,0,0,0-.09.24V6.19a11.66,11.66,0,0,0,2.06,5.53.32.32,0,0,0,.53-.37A11.14,11.14,0,0,1,5.4,6.14V5.38A11.21,11.21,0,0,1,16,15.74a11.83,11.83,0,0,0-15.94.5.33.33,0,0,0-.1.23.29.29,0,0,0,.1.23l.78.79,0,0a11.81,11.81,0,0,0,7.43,2.64h0a11.75,11.75,0,0,0,6-1.64.33.33,0,0,0,.12-.45A.32.32,0,0,0,14,18,11.21,11.21,0,0,1,8.36,19.5h0a11.18,11.18,0,0,1-7-2.49l-.54-.53a11.18,11.18,0,0,1,15.38.26h0a11.93,11.93,0,0,0,16.72,0,.31.31,0,0,0,0-.46Z"></path></g></g></svg> {% endcomment %}
                <p class="text">{{ block.settings.text }}</p>
              </div>
            </div>
          {% endfor %}
      </div>  
    </div>

<style>
    .text-wrapper svg{
        padding-top: 10px;
        width: 15px;
        height: 30px
    }

    #section-id-{{ section.id }} .scroll {
        background-color: {{ section.settings.bg_color }} ;
    }
    
    #section-id-{{ section.id }} .hc-slide p {
        color: {{ section.settings.font_color }} ;
        display: inline;
        margin-bottom: 0;
        text-align: center;
        font-weight: 700;
        line-height: 26px;
        font-size:{{ section.settings.font_size }}px;
    }
      
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 6));
        }
      }
    
      #section-id-{{ section.id }}.hc-index-slider {
        margin: auto;
        overflow: hidden;
        position: relative;
        --width: 250px;
      }
    
      #section-id-{{ section.id }}.hc-index-slider .hc-slide-track {
        animation: scroll {{ section.settings.scroll_time }}s linear infinite;
        display: flex;
        width: calc(var(--width) * 12);
        padding: 20px 0;
      }
      #section-id-{{ section.id }}.hc-index-slider .hc-slide-track:hover {
        animation-play-state: {{section.settings.pause_text}};
      }
      #section-id-{{ section.id }}.hc-index-slider .hc-slide {
        width: var(--width);
        display: flex;
        justify-content: center;
      }
    
      @media screen and (max-width: 768px) {
        #section-id-{{ section.id }}.hc-index-slider {
          --width: 200px;
        }
    
        }
</style>
</section>


    {% schema %}
      {
        "name": "Sliding Text",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
              "type": "text",
              "label": "Scroll Time",
              "id": "scroll_time",
              "default": "50"
          },
          {
            "type": "color",
            "id": "font_color",
            "label": "Font color",
            "default": "#000000"
          },
    
          {
          "type": "range",
          "id": "font_size",
          "min": 8,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "select",
          "id": "pause_text",
          "label": "Pause text on mouse hover",
          "options": [
            {
              "value": "paused",
              "label": "Yes"
            },
            {
              "value": "initial",
              "label": "No"
            }
          ],
          "default": "initial"
        }
        ],
        "blocks": [
        {
          "name": "Sliding text",
          "type": "block",
          "settings": [
            {
              "type": "richtext",
              "label": "Add Text",
              "id": "text"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Sliding Text"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
      }
    {% endschema %}

    {% comment %} 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.99 20.16"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M32.89,16.28A11.72,11.72,0,0,0,26.33,13a.33.33,0,0,0-.37.28.32.32,0,0,0,.27.37,11,11,0,0,1,6,2.86,11.27,11.27,0,0,1-15,.29,11.92,11.92,0,0,0,11-11.75.35.35,0,0,0-.1-.24.32.32,0,0,0-.23-.09h0A11.59,11.59,0,0,0,21.07,7a.32.32,0,1,0,.38.52,11,11,0,0,1,6.13-2.1,11.26,11.26,0,0,1-10.4,10.77A11.87,11.87,0,0,0,16.7.09a.34.34,0,0,0-.46,0A11.71,11.71,0,0,0,13,6.66a.33.33,0,1,0,.65.09,11.11,11.11,0,0,1,2.86-6,11.22,11.22,0,0,1,.22,14.92,11.85,11.85,0,0,0-11.61-11,.38.38,0,0,0-.24.09.36.36,0,0,0-.09.24V6.19a11.66,11.66,0,0,0,2.06,5.53.32.32,0,0,0,.53-.37A11.14,11.14,0,0,1,5.4,6.14V5.38A11.21,11.21,0,0,1,16,15.74a11.83,11.83,0,0,0-15.94.5.33.33,0,0,0-.1.23.29.29,0,0,0,.1.23l.78.79,0,0a11.81,11.81,0,0,0,7.43,2.64h0a11.75,11.75,0,0,0,6-1.64.33.33,0,0,0,.12-.45A.32.32,0,0,0,14,18,11.21,11.21,0,0,1,8.36,19.5h0a11.18,11.18,0,0,1-7-2.49l-.54-.53a11.18,11.18,0,0,1,15.38.26h0a11.93,11.93,0,0,0,16.72,0,.31.31,0,0,0,0-.46Z"></path></g></g></svg>

<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23.31 26"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M23.22,5.83a.28.28,0,1,0-.37-.41l-1.53,1.4L21,7.15h0l-.6.55h0l-9.86,9.12h0l-3.25-3a.28.28,0,0,0-.4,0,.29.29,0,0,0,0,.4l3.25,3a.57.57,0,0,0,.4.16.57.57,0,0,0,.41-.16l9.48-8.76c0,.4,0,.8,0,1.19,0,1.35,0,2.93,0,4.49a6.65,6.65,0,0,1-1.06,3.62,16.54,16.54,0,0,1-3.62,4,34.21,34.21,0,0,1-4.74,3.33.8.8,0,0,1-.43.13.85.85,0,0,1-.43-.13,31.35,31.35,0,0,1-6-4.46A13,13,0,0,1,1.27,17a6.31,6.31,0,0,1-.63-2.77c0-1.44,0-2.87,0-4.31V8.15h0V4.23c0-.56.12-.69.69-.7a17.92,17.92,0,0,0,6.46-1.2A9.41,9.41,0,0,0,10.1,1a.7.7,0,0,1,.39-.15.63.63,0,0,1,.39.15A11.63,11.63,0,0,0,15,2.91a19.07,19.07,0,0,0,4.83.61c.41,0,.61.21.6.61v.66L21,4.27V3.59a2.13,2.13,0,0,0,0-.39c0-.2-.11-.25-.32-.26h-.14q-.54,0-1.08,0a18.35,18.35,0,0,1-4.48-.63A10,10,0,0,1,10.72.09.32.32,0,0,0,10.51,0a.4.4,0,0,0-.25.11,10.55,10.55,0,0,1-4.5,2.25,22.13,22.13,0,0,1-5.31.58c-.32,0-.4.07-.41.39v.21c0,.3,0,.6,0,.89C0,6,0,5.45,0,7.16c0,2.1,0,4.37,0,6.93a7.38,7.38,0,0,0,1.17,4,16,16,0,0,0,3,3.5,33.5,33.5,0,0,0,6,4.32.63.63,0,0,0,.27.08.6.6,0,0,0,.29-.09,33.75,33.75,0,0,0,5.51-3.85,17.79,17.79,0,0,0,3.34-3.71A7.72,7.72,0,0,0,21,14c0-1.44,0-2.9,0-4.32V7.92Z"></path><path d="M20.38,4.42Z"></path></g></g></svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.19 24.56"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M17.92,9.23l.28-.17a1,1,0,0,0,.53-.66,1.09,1.09,0,0,0-.14-.83c-.73-1.22-1.46-2.44-2.18-3.67L15.34,2.11A3.66,3.66,0,0,0,14.4,1a2.06,2.06,0,0,0-2.63,0,3.74,3.74,0,0,0-.92,1.09l-2,3.43-.6,1-.38-.22C8.23,5.67,8.62,5,9,4.37l.54-.9c.31-.53.62-1.06.94-1.59A4,4,0,0,1,11.81.47,2.53,2.53,0,0,1,13.1.1a2.56,2.56,0,0,1,1.65.63,7.07,7.07,0,0,1,1.3,1.72c.45.78.91,1.55,1.36,2.32l1.53,2.58a1,1,0,0,0,.9.55,1.12,1.12,0,0,0,.59-.18l.3-.18v3.38Z"></path><path d="M20.84,11.1,17.72,9.23l.15-.09L18.15,9a.9.9,0,0,0,.48-.59,1,1,0,0,0-.13-.75l-2-3.43-1.21-2a3.76,3.76,0,0,0-.92-1.09,2,2,0,0,0-2.5,0,3.55,3.55,0,0,0-.9,1.06l-2,3.43L8.25,6.68,7.7,6.36l.06-.09c.38-.65.77-1.3,1.16-1.95l.53-.9.94-1.59A4.05,4.05,0,0,1,11.76.39,2.51,2.51,0,0,1,13.1,0a2.6,2.6,0,0,1,1.71.66A6.4,6.4,0,0,1,16.13,2.4L17.5,4.72l.12.2c.47.79.94,1.58,1.4,2.37a.92.92,0,0,0,.82.51,1,1,0,0,0,.54-.16l.3-.19.16-.09V11.1ZM18.11,9.23l2.52,1.51v-3l-.15.09a1.19,1.19,0,0,1-.64.19,1.11,1.11,0,0,1-1-.6L17.45,5l-.12-.2c-.46-.77-.92-1.54-1.37-2.32A6.84,6.84,0,0,0,14.68.81,2.35,2.35,0,0,0,11.87.56a3.7,3.7,0,0,0-1.3,1.38c-.32.52-.63,1.05-1,1.58l-.53.9L8,6.29l.2.11.55-.93,2-3.44A3.86,3.86,0,0,1,11.71.92a2.17,2.17,0,0,1,2.75,0,3.74,3.74,0,0,1,1,1.15l1.21,2,2,3.42a1.2,1.2,0,0,1,.16.91,1.17,1.17,0,0,1-.58.72Z"></path><path d="M4.5,22.92H3.26a3.89,3.89,0,0,1-2.1-.54,2.14,2.14,0,0,1-1-1.77,3.49,3.49,0,0,1,.52-2.05C1.54,17,2.48,15.4,3.4,13.87l.15-.26a1,1,0,0,0-.4-1.51L3,12l2.81-1.69V13.7l-.44-.27a1.15,1.15,0,0,0-.57-.17,1,1,0,0,0-.88.53c-.57,1-1.14,2-1.72,2.94L1,18.76a3.42,3.42,0,0,0-.47,1.29A1.94,1.94,0,0,0,1.73,22.2a3.57,3.57,0,0,0,1.45.28H9v.43H4.5Z"></path><path d="M4.5,23H3.26a3.87,3.87,0,0,1-2.15-.56A2.19,2.19,0,0,1,0,20.61,3.63,3.63,0,0,1,.55,18.5c.91-1.57,1.85-3.15,2.76-4.68l.15-.26a1,1,0,0,0,.14-.77,1,1,0,0,0-.5-.6L2.77,12l3.11-1.87v3.75l-.15-.09-.45-.27a.93.93,0,0,0-.51-.16.9.9,0,0,0-.79.48L2.26,16.78l-1.19,2a3.44,3.44,0,0,0-.45,1.25,1.87,1.87,0,0,0,1.15,2.05,3.58,3.58,0,0,0,1.41.27h6V23H4.5ZM3.17,12l0,0a1.15,1.15,0,0,1,.44,1.65l-.16.26C2.57,15.45,1.63,17,.72,18.61a3.44,3.44,0,0,0-.51,2,2,2,0,0,0,1,1.69,3.76,3.76,0,0,0,2,.53H8.94v-.23H3.18a3.64,3.64,0,0,1-1.49-.29A2,2,0,0,1,.42,20,3.74,3.74,0,0,1,.9,18.7l1.19-2L3.8,13.74a1.1,1.1,0,0,1,1-.58,1.3,1.3,0,0,1,.62.18l.29.18v-3Z"></path><path d="M13.69,22.7,16.5,21v.33a1,1,0,0,0,1.14,1.14H23a3.43,3.43,0,0,0,1.4-.27,2,2,0,0,0,1.19-2.39,4.29,4.29,0,0,0-.54-1.27l-.18-.3L23,15.09l.34-.21.35.58,1.4,2.29a7.81,7.81,0,0,1,.83,1.66A2.84,2.84,0,0,1,26,21a2.3,2.3,0,0,1-1.61,1.66,4.46,4.46,0,0,1-1.57.25h-5.2A1,1,0,0,0,16.5,24v.34Z"></path><path d="M16.6,24.56,13.49,22.7l3.11-1.87v.51a.93.93,0,0,0,1,1H23a3.27,3.27,0,0,0,1.36-.27,1.86,1.86,0,0,0,1.13-2.26A4.16,4.16,0,0,0,25,18.6l-.21-.35-1.87-3.11-.05-.08.51-.32.41.67,1.39,2.29A8,8,0,0,1,26,19.38a3.06,3.06,0,0,1,.1,1.65,2.41,2.41,0,0,1-1.68,1.73,4.6,4.6,0,0,1-1.6.25h-5.2a.93.93,0,0,0-1,1ZM13.89,22.7l2.51,1.5V24a1.12,1.12,0,0,1,1.24-1.23h5.2a4.43,4.43,0,0,0,1.53-.24A2.21,2.21,0,0,0,25.92,21a3,3,0,0,0-.09-1.54A7.57,7.57,0,0,0,25,17.81c-.46-.76-.92-1.52-1.39-2.28l-.3-.51-.17.1c.6,1,1.21,2,1.82,3l.21.35a4.66,4.66,0,0,1,.55,1.3,2.05,2.05,0,0,1-1.25,2.5,3.49,3.49,0,0,1-1.44.28H17.64a1.12,1.12,0,0,1-1.24-1.24v-.15Z"></path></g></g></svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 22.99"><g id="" data-name="Layer 2"><g id="" data-name="Layer 1"><polygon points="5.56 22.24 5.56 22.21 5.41 22.36 5.56 22.24"></polygon><path d="M18,10c-.93-1.65-1.89-3.33-2.72-4.77A2.26,2.26,0,0,1,15,4.1c0-.92-.05-1.85-.09-2.75V1.21A1.14,1.14,0,0,0,13.74,0a1.58,1.58,0,0,0-.47.07,4.13,4.13,0,0,0-2.86,4c.06,1.19.18,2.4.3,3.58a5.67,5.67,0,0,1,0,.62,7,7,0,0,1,0,1.35,5.33,5.33,0,0,1-.21,1.13,10.71,10.71,0,0,0,.1,3.86,3.68,3.68,0,0,0,2.3,2.79,1.89,1.89,0,0,0,.36.1l.21,0a.25.25,0,0,0,.28-.21.24.24,0,0,0,0-.19A.5.5,0,0,0,13.4,17a2.93,2.93,0,0,1-2.18-2.28,8.78,8.78,0,0,1-.05-4.24A11.59,11.59,0,0,0,11.25,7v0c0-.41-.07-.83-.11-1.25s-.1-1-.14-1.53A3.5,3.5,0,0,1,13.35.65a1.17,1.17,0,0,1,.4-.09c.34,0,.52.24.54.71l0,.55c0,.69.06,1.4.06,2.1a3.24,3.24,0,0,0,.46,1.67c.79,1.34,1.61,2.77,2.66,4.63a6.78,6.78,0,0,1,.91,3.43c0,.4,0,.8,0,1.26v.76c0,.28,0,.59,0,.92a8,8,0,0,1-.12,2,5,5,0,0,1-4.71,3.82H9.8a.48.48,0,0,1-.43-.16c-.1-.13,0-.32,0-.47a1.82,1.82,0,0,0-.62-2.37.52.52,0,0,1-.16-.78A1.87,1.87,0,0,0,8.09,16c-.22-.17-.39-.36-.14-.73a1.85,1.85,0,0,0,0-2.2.43.43,0,0,1,.11-.67,1.86,1.86,0,0,0,.71-2.43.4.4,0,0,1,0-.37A.44.44,0,0,1,9.1,9.4a6.47,6.47,0,0,1,.74-.06,1.33,1.33,0,0,1,.28,0c0-.19,0-.39.05-.57H2.71a2,2,0,0,0-1.8,1,2,2,0,0,0,.07,2,.52.52,0,0,1-.16.78A2,2,0,0,0,0,14.14a2.08,2.08,0,0,0,.84,1.59.52.52,0,0,1,.13.79,1.88,1.88,0,0,0,.46,2.58.53.53,0,0,1,.17.84A1.9,1.9,0,0,0,2,22.41,2.39,2.39,0,0,0,3.7,23H8.54v0h4.83A5.68,5.68,0,0,0,19,17.36c0-.59,0-1.17,0-1.76s0-1.29,0-1.94A7.3,7.3,0,0,0,18,10Zm-16.77.43A1.46,1.46,0,0,1,2.71,9.33H6.5a2.52,2.52,0,0,1,.89.12,1.44,1.44,0,0,1,1,1.32,1.43,1.43,0,0,1-1,1.29,2.29,2.29,0,0,1-.85.14H5.8l-1.21,0H2.9a1.73,1.73,0,0,1-1-.26A1.41,1.41,0,0,1,1.27,10.46ZM1,15.12a1.37,1.37,0,0,1-.37-1,1.46,1.46,0,0,1,1.59-1.4H6c1,0,1.64.52,1.68,1.35a1.36,1.36,0,0,1-.35,1,1.68,1.68,0,0,1-1.18.49h-4A1.69,1.69,0,0,1,1,15.12Zm.64,3.38a1.4,1.4,0,0,1-.39-1,1.42,1.42,0,0,1,1.47-1.33h4.2a1.41,1.41,0,0,1,1.49,1.37A1.32,1.32,0,0,1,8,18.5,1.5,1.5,0,0,1,7,19c-.71,0-1.43,0-2.12,0s-1.5,0-2.22,0A1.36,1.36,0,0,1,1.61,18.5Zm7,3.4a1.55,1.55,0,0,1-1.1.47l-.83,0H3.4A1.42,1.42,0,0,1,1.9,21a1.33,1.33,0,0,1,1.5-1.38H7.49A1.39,1.39,0,0,1,8.64,21.9Z"></path></g></g></svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="" x="0px" y="0px" viewBox="0 0 30.6 38.5" style="enable-background:new 0 0 30.6 38.5;" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
<g>
	<path d="M24,16.1c-0.2-0.2-0.4-0.4-0.6-0.6l-5.8-3.3c-0.7-0.4-1.5-0.4-2.1,0l-2.7,1.5c-0.1,0-0.2,0.1-0.3,0.2l-2.8,1.6   c-0.3,0.2-0.5,0.4-0.6,0.6C9,16.2,9,16.2,9,16.3c0,0,0,0.1-0.1,0.2c-0.1,0.3-0.2,0.6-0.2,1V24c0,0.8,0.4,1.5,1.1,1.9l5.8,3.3   c0.2,0.1,0.5,0.2,0.8,0.2c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1c0.3,0,0.5-0.1,0.8-0.2l5.8-3.3c0.7-0.4,1.1-1.1,1.1-1.9   v-6.6c0-0.3-0.1-0.7-0.2-1c0-0.1,0-0.1-0.1-0.2C24.1,16.2,24.1,16.2,24,16.1z M16,13.1c0.2-0.1,0.4-0.2,0.6-0.2s0.4,0.1,0.6,0.2   l5.8,3.3c0,0,0,0,0,0L20.3,18l-6.4-3.7L16,13.1z M12.9,14.9l6.4,3.7l-2.7,1.6l-6.4-3.7c0,0,0,0,0,0L12.9,14.9z M10.2,24.9   c-0.4-0.2-0.6-0.6-0.6-1v-6.6c0,0,0-0.1,0-0.1l6.4,3.7v7.3c0,0-0.1,0-0.1,0L10.2,24.9z M23.5,24c0,0.4-0.2,0.8-0.6,1l-5.8,3.3   c0,0,0,0-0.1,0V21l6.4-3.7c0,0,0,0.1,0,0.1V24z"></path>
	<path d="M29.7,32.6c-3.2,3.2-7.4,4.9-11.9,4.9s-8.7-1.8-11.9-4.9c-6.6-6.6-6.6-17.2,0-23.8c3.2-3.2,7.4-4.9,11.9-4.9   c4.2,0,8.1,1.5,11.2,4.3l-7,1.8c-0.3,0.1-0.4,0.3-0.4,0.6c0.1,0.2,0.3,0.4,0.5,0.4c0,0,0.1,0,0.1,0l7.7-2c0.1,0,0.3,0,0.4-0.1   c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.3,0.1-0.4l-2.1-7.9c-0.1-0.3-0.3-0.4-0.6-0.4c-0.3,0.1-0.4,0.3-0.4,0.6L29.2,7   C26,4.3,22,2.9,17.8,2.9c-4.8,0-9.2,1.9-12.6,5.2c-7,7-7,18.3,0,25.2c3.4,3.4,7.8,5.2,12.6,5.2s9.2-1.9,12.6-5.2   c0.2-0.2,0.2-0.5,0-0.7S29.9,32.4,29.7,32.6z"></path>
</g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.66 19.92"><g id="" data-name="Layer 2"><g id="" data-name="Layer 1"><path d="M22.7,0a9.93,9.93,0,0,0-6.37,2.31A10,10,0,1,0,10,19.92a9.88,9.88,0,0,0,6.37-2.32A10,10,0,1,0,22.7,0ZM10,19.36A9.41,9.41,0,1,1,15.91,2.69a9.92,9.92,0,0,0,0,14.54A9.34,9.34,0,0,1,10,19.36ZM17.81,4.79,14.74,6.14a.28.28,0,0,0-.14.37.29.29,0,0,0,.26.16.23.23,0,0,0,.11,0L18.1,5.27a9.8,9.8,0,0,1,.84,1.9L13.31,9.71a9.3,9.3,0,0,1,3-6.65A9.4,9.4,0,0,1,17.81,4.79ZM16.33,16.86a9.35,9.35,0,0,1-1.19-1.33l2.46-1.08a.29.29,0,0,0,.14-.37.28.28,0,0,0-.37-.14l-2.56,1.13a9.41,9.41,0,0,1-1-2l5.49-2.42A9.4,9.4,0,0,1,16.33,16.86Zm-2.67-4.31a9.62,9.62,0,0,1-.35-2.24l5.77-2.6A9.31,9.31,0,0,1,19.36,10v.09Zm9,6.81a9.37,9.37,0,0,1-6-2.13,9.88,9.88,0,0,0,1.74-12.4s0,0,0,0l0,0a9.73,9.73,0,0,0-1.7-2.08,9.4,9.4,0,1,1,6,16.67Z"></path></g></g></svg>


{% endcomment %}
    
    