<div class="practice">
    {%- for product in section.settings.product-list -%} 
        <h1>Title : {{ product.title }}</h1> 
        <img src="{{ product.featured_image |  img_url: '200x' }}"> 
        <h3>Description : {{ product.content }}</h3>
         
    {%- endfor -%}
    
    {% comment %} {%- for product in section.settings.collection-list -%}
      <h2>Product belongs to which Collection : {{ product.title }}</h2>
    {%- endfor -%} {% endcomment %}
    
    {%- for product in section.settings.collection-list.products -%}
      <img src="{{ product.featured_image |  img_url: '200x' }}"> 
      <p>{{ product.title }}</p>
      <p>{{ product.description }}</p>
      <p>{{ product.published_at }}</p>
    {%- endfor -%}
     
</div>


<style>
    .practice {
        text-align: {{ section.settings.align }};
        margin: 0 auto;
    }
</style>



{% schema %}
  {
    "name": "My Practice Section",
    "tag": "section",
    "class": "practice-section",
    "settings": [
        {
          "type": "text_alignment",
          "id": "align",
          "label": "Content Alignment",
          "default":"center"
        },
        {
          "type": "product_list",
          "id": "product-list",
          "label": "Select Products"
        },
        {
          "type": "collection",
          "id": "collection-list",
          "label": "Select Collections"
        }
    ],
    "presets": [
      {
        "name": "My Practice Section"
      }
    ],
    "enabled_on": {
      "templates":["*"]
    }
  }
{% endschema %}